EMAILJS_SERVICE_ID=your_service_id
EMAILJS_TEMPLATE_ID=your_template_id
EMAILJS_PASSWORD_RESET_TEMPLATE_ID=your_password_reset_template_id
EMAILJS_PUBLIC_KEY=your_public_key
APP_NAME=COZY
EMAIL_FROM_NAME=COZY
EMAIL_FROM_ADDRESS=no-reply@yourdomain.com
EMAILJS_PASSWORD_RESET_SUBJECT=Xác thực yêu cầu đổi mật khẩu
EMAILJS_PASSWORD_RESET_INTRO=Nhấn nút bên dưới để xác thực yêu cầu đổi mật khẩu.
EMAILJS_PASSWORD_RESET_ACTION_LABEL=Xác thực
