VITE_APP_NAME=COZY
VITE_EMAILJS_SERVICE_ID=your_service_id
VITE_EMAILJS_TEMPLATE_ID=your_template_id
VITE_EMAILJS_PUBLIC_KEY=your_public_key
VITE_PASSWORD_RESET_API_BASE_URL=https://asia-southeast1-newdiary-1c766.cloudfunctions.net
